<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-cherryservers-index") %>>
          <a href="/docs/providers/cherryservers/index.html">CherryServers Provider</a>
        </li>

        <li<%= sidebar_current("docs-cherryservers-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-cherryservers-resource-server") %>>
              <a href="/docs/providers/cherryservers/r/server.html">cherryservers_server</a>
            </li>
            <li<%= sidebar_current("docs-cherryservers-resource-floating-ip") %>>
              <a href="/docs/providers/cherryservers/r/floating_ip.html">cherryservers_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-cherryservers-resource-project") %>>
              <a href="/docs/providers/cherryservers/r/project.html">cherryservers_project</a>
            </li>
            <li<%= sidebar_current("docs-cherryservers-resource-ssh") %>>
              <a href="/docs/providers/cherryservers/r/ssh.html">cherryservers_ssh</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
